
body {
  background: #EEE;
  margin: 0;
  padding: 0;
}


table {
    margin: 15px auto auto auto;
    background-color: white;
    height: 100%;
    width: 80%;
    overflow-x: scroll;
    color: red;
    display: inline-block;
    flex-wrap: wrap;
    align-content: flex-start;
}

