/* Add a black background color to the top navigation */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
box-sizing: border-box;
padding: 0;
margin: 0;

}

body {
  background-color: white;
  font-family: 'Ubuntu';
  color: #333;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px, 0;
}

p {
    margin: 10px 0;
}



ul {
list-style-type: none;
}

a {
    text-decoration: none;
}



.top-nav {

  background-color: #333;

}

.top-nav.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

/* Style the links inside the navigation bar
https://www.w3schools.com/howto/howto_js_topnav.asp */
.top-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

/* Change the color of links on hover */
.top-nav a:hover {
  background-color: #ddd;
  color: black;
}

.top-nav a:focus {
  background-color: #4CAF50;
}

/* Add a color to the active/current link */
.top-nav a.active {
  background-color: #4CAF50;
  color: white;
}



.btn {
}



.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    color: red;
    list-style: none;
}

.sidebar-nav a:hover {
  background-color: #ddd;
  color: yellow;
}


div {
  overflow: hidden;
}

div img.header {
  margin-top: -56%;
  transform: translateY(44.6%);
  width: 100%;
  position: relative;
}




footer {
  background-color: #DBE9EE;
  text-align: center;
  height: 50px;
  color: black;
  font-weight: 400;
  bottom:0;
  position: fixed;
}





